# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=enricher
POSTGRES_PASSWORD=enricher
POSTGRES_DB=enricher

# External API
API_BASE_URL=https://dummyjson.com
API_TIMEOUT=10.0

# App
BATCH_SIZE=50
LOG_LEVEL=INFO
